<%- include partials/header.ejs %>

<body class="home">

<div class="lgx-container ">

    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner kit-banner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">About KIT</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">About</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper lgx-page-wrapper-none">

            <!--ABOUT-->
            <section>
                <div id="lgx-about" class="lgx-about">
                    <div class="lgx-inner">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <div class="lgx-about-img">
                                        <img src="assets/img/Logo/kitlogo.png" alt="about">
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="lgx-about-content-area">
                                        <div class="lgx-heading">
                                            <h2 class="heading">About KIT</h2>
                                            <h3 class="subheading">KIT-KALAIGNAR KARUNANIDHI INSTITUTE OF TECHNOLOGY</h3>
                                        </div>
                                        <div class="lgx-about-content">
                                            <p class="text">
                                                KIT, established in 2009 by
                                                Vijayalakshmi Palanisamy charitable trust has developed a reputation as one among the prestigious institute of
                                                Coimbatore, KIT with its magnificent ambience, modern high-tech facilities and universal recognition has been
                                                accredited by NBA &amp; NAAC with ‘A’ grade.
                                                <br><br>
                                                KIT is one of the best Engineering College in Coimbatore, is located at a distance of 12 kilometers from Coimbatore
                                                Railway Station and 8 kilometers from Coimbatore Civil Aerodrome. Set in a calm and congenial locale, the college
                                                stands nestled in a spacious campus set in a vast area of 5 lakhs sq.ft with five storied buildings house classrooms,
                                                laboratories, library, faculty rooms, conference halls, administrative and residential areas.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- //.CONTAINER -->
                    </div><!-- //.INNER -->
                </div>
            </section>
            <!--ABOUT END-->

        </div>
    </main>

    <%- include partials/footer.ejs %>
