<%- include partials/header.ejs %>

    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner team2-banner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Event Co-ordinators</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Event Co-ordinators</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->

    <!--SPEAKERS-->
    <section>
        <div id="lgx-speakers" class="lgx-speakers">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Event Co-Ordinators</h2>
                                <h3 class="subheading">Meet our Co-ordinators who makes things possible.</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/sri.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>Sri Spiritoe</a></h3>
                                            <h4 class="subtitle">Event Coordinator</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/thilak.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>C. THILAGARAJ</a></h3>
                                            <h4 class="subtitle">ECE</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/muthu.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>P. MUTHUSAMY</a></h3>
                                            <h4 class="subtitle">ECE</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/bp.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>S. BALAPARAMESH</a></h3>
                                            <h4 class="subtitle">EEE</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/satheesh.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>G. SATHEESH</a></h3>
                                            <h4 class="subtitle">Computer Science</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/speakers/speaker2.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>B. ARTHI</a></h3>
                                            <h4 class="subtitle">EEE</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/speakers/speaker5.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>S. AYSHWARYA</a></h3>
                                            <h4 class="subtitle">Bio-Medical</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/speakers/speaker6.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>M. SARANYA</a></h3>
                                            <h4 class="subtitle">Agriculture</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/aadil.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>A. AADIL</a></h3>
                                            <h4 class="subtitle">Aeronatical</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker4.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>M. MANIKANDAN</a></h3>
                                            <h4 class="subtitle">Aeronatical</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker3.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>T. SANDEEP</a></h3>
                                            <h4 class="subtitle">Bio-Medical</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker2.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>ANUSHA RAVICHANDRAN</a></h3>
                                            <h4 class="subtitle">MCA</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker3.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>M. S. BHAGATH SING</a></h3>
                                            <h4 class="subtitle">Agriculture</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker1.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>M. GOBINATH</a></h3>
                                            <h4 class="subtitle">Bio-Technology</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker3.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>S. PRAGADEESH RAM</a></h3>
                                            <h4 class="subtitle">Bio-Technology</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker1.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>L. DINESH KUMAR</a></h3>
                                            <h4 class="subtitle">Computer Science</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <!-- <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/speaker3.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>R. B. SANTHOSH</a></h3>
                                            <h4 class="subtitle">Mechanical</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div> -->
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/coordinators/dhilip.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>A. DHILIP JAYA SEELAN</a></h3>
                                            <h4 class="subtitle">Mechanical</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </section>
    <!--SPEAKERS END-->

    <%- include partials/footer.ejs %>