<%- include partials/header.ejs %>

<body class="home">

    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Photo Gallery</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Gallery</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->


    <main>
        <div class="lgx-page-wrapper">
            <!--News-->
            <section>
                <div class="container">
                    <div class="row">

                        <div class="col-sm-12">
                            <div class="lgx-photo-gallery lgx-gallery-area">
                                <div  class="lgx-gallery-single">
                                    <figure>
                                        <img title="Memories One" src="assets/img/gallery/1.jpeg" alt="Memories one"/>
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories One" href="assets/img/gallery/1.jpeg">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div  class="lgx-gallery-single">
                                    <figure>
                                        <img src="assets/img/gallery/2.jpeg" alt="Memories Two" title="Memories Two" />
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Two" href="assets/img/gallery/2.jpeg">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>  <!--Single photo-->
                                <div  class="lgx-gallery-single">
                                    <figure>
                                        <img src="assets/img/gallery/3.jpeg" alt="Memories Three" title="Memories Three" />
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Three" href="assets/img/gallery/3.jpeg">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div  class="lgx-gallery-single">
                                    <figure>
                                        <img src="assets/img/gallery/4.jpeg" alt="Memories Four" title="Memories Four" />
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Four" href="assets/img/gallery/4.jpeg">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="assets/img/gallery/6.jpeg" alt="Memories Five" title="Memories Five" />
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Five" href="assets/img/gallery/6.jpeg">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> <!--Single photo-->
                                <div class="lgx-gallery-single">
                                    <figure>
                                        <img src="assets/img/gallery/5.jpeg" alt="Memories Six" title="Memories Six" />
                                        <figcaption class="lgx-figcaption">
                                            <div class="lgx-hover-link">
                                                <div class="lgx-vertical">
                                                    <a title="Memories Six" href="assets/img/gallery/5.jpeg">
                                                        <i class="fa fa-chain-broken" aria-hidden="true"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> 
                            </div>
                        </div> 
                    </div>
                </div>

            </section>
            <!--News END-->
        </div>
    </main>

<%- include partials/footer.ejs %>
