<%- include partials/header.ejs %>

    <!--Banner Inner-->
    <section>
        <div class="lgx-banner lgx-banner-inner team-banner" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);">
            <div class="lgx-page-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading-area" style="-webkit-transform: scaleX(-1);transform: scaleX(-1);">
                                <div class="lgx-heading lgx-heading-white">
                                    <h2 class="heading">Tech Team</h2>
                                </div>
                                <ul class="breadcrumb">
                                    <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                                    <li class="active">Tech Team</li>
                                </ul>
                            </div>
                        </div>
                    </div><!--//.ROW-->
                </div><!-- //.CONTAINER -->
            </div><!-- //.INNER -->
        </div>
    </section> <!--//.Banner Inner-->

<!--SPEAKERS-->
<section>
        <div id="lgx-speakers" class="lgx-speakers">
            <div class="lgx-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="lgx-heading">
                                <h2 class="heading">Tech Team </h2>
                                <h3 class="subheading">Meet our Team of experts!</h3>
                            </div>
                        </div>
                    </div>
                    <!--//.ROW-->
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/gowty.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/gowtham.gowthamgun"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="https://www.instagram.com/g0wty/"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/gowtham-m-43445b153/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>Gowtham</a></h3>
                                            <h4 class="subtitle">Backend Developer </h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/jd.jpg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="https://twitter.com/JohnDisilwa"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/john.disilwa.47"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="https://www.instagram.com/johndisilva/"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/john-disilwa-jd-555b58133/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>John Disilwa</a></h3>
                                            <h4 class="subtitle">Frontend Developer</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/stark.jpeg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="https://twitter.com/james_stark145"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/james.raja.5099"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="https://www.instagram.com/stark_trent/"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/james-john-970365142/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>James John</a></h3>
                                            <h4 class="subtitle">UI/UX Designer</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/leevern.jpeg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="https://twitter.com/LeevernDroid"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/leeverndroid"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="https://www.instagram.com/leeverndocker/"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/leevern-vasanth-59a607142/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>Leevern Vasanth</a></h3>
                                            <h4 class="subtitle">UI/UX Designer</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/puyal.jpeg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="https://twitter.com/manojkumar5251"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/manojkumar5251"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/manoj-kumar-a3091814a/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>Manoj Kumar</a></h3>
                                            <h4 class="subtitle">Backend Developer</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/baski.jpeg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="#"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/baskar.yabase"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="#"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/baskar-yabase-794111142/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>Baskar Yabase</a></h3>
                                            <h4 class="subtitle">All - Rounder</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="lgx-single-speaker lgx-single-speaker-circle">
                                <figure>
                                    <a class="profile-img"><img src="assets/img/team/dhanush.jpeg" alt="speaker"/></a>
                                    <figcaption>
                                        <div class="social-group">
                                            <a class="sp-tw" href="https://twitter.com/Dkhanush"><i class="fa fa-twitter"></i></a>
                                            <a class="sp-fb" href="https://www.facebook.com/leon.dhanush"><i class="fa fa-facebook"></i></a>
                                            <a class="sp-insta" href="https://www.instagram.com/_a_l_p_h_a_05/"><i class="fa fa-instagram"></i></a>
                                            <a class="sp-in" href="https://www.linkedin.com/in/dhanush-k-1330a0163/"><i class="fa fa-linkedin"></i></a>
                                        </div>
                                        <div class="speaker-info">
                                            <h3 class="title"><a>Dhanush</a></h3>
                                            <h4 class="subtitle">Graphic Designer</h4>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //.CONTAINER -->
            </div>
            <!-- //.INNER -->
        </div>
    </section>
    <!--SPEAKERS END-->
    <%- include partials/footer.ejs %>